#content{
	position: absolute;
	overflow: hidden;
	width: auto;
/*	background-color: #6641E2;*/
}

#overviewOfTeam1{
	padding-top: 3%;
	padding-left: 3%;
	padding-bottom: 3%;
}
#overviewOfTeam2{
	padding-top: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
}
#teamName1 {
	color: #6641E2;
	font-weight: bold;
}
#teamName2 {
	color: #6641E2;
	font-weight: bold;
}
#team1{
	
}
#team1 li{
    height: 35px ;
	font-size: small;
}
#team2 li{
	
    height: 35px ;
	font-size: small;
}
#symbol{
	padding: 5%;
	padding-top: 15%;
	font-size: 3em;
}

.score-record{
	
	padding: 5%;
	padding-top: 10%;
	border: solid;
	border-color: #007AFF;
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 3em;
}
#scoreBoard{
	margin-left: 3%;
}
#timeControl{
	border: solid;
	border-color: #6641E2;
	border-radius: 10px;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 30%;
	
	padding: 2%;
	padding-top: 8%;
	width: 7.3em;
	height: 3.3em;
}
#timeControl p{
	
	font-size: 2em;
	text-align: center;
	
}
#timeSymbol{
	color: #00FFFF;
	border-bottom: solid;
	border-bottom-color: #8A6DE9;
	padding-bottom: 5px;
}
#restTime{
	color: #CF2D28;
	font-size: 1em;
}

#countDown{
	width: 2em;
	height: 2em;
	border: solid;
	border-color: #00FFFF;
	text-align: center;
	border-radius: 100%;
	margin-top: 5%;
	margin-left: 40%;
	padding: 2%;
	font-size: 1em;
	
}
#s{
	margin-top: 10%;
}

#bottom{
     position: absolute;
     top:70%;
 	 
}
#buttonGroupOfTeam1{
    /*border: dashed;
    border-color: #999999;
    border-width: thin;
    border-top-right-radius: 50px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 30px;
    background-color: white;*/
}
#buttonGroupOfTeam2{
	/*border: dashed;
	border-color: #999999;
	border-width: thin;
	border-top-right-radius: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 30px;
    background-color: white;*/
}
/*#gameControlButton{
	margin-left: 50%;
	padding: 3%;
	padding-left: 4%;
	padding-top: 0%;
}*/
.control-btn{
    width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 100%;
	/*border: dashed;*/
	/*border-color:cyan;*/
	margin-bottom: 0;
}
#startMatch{
	visibility: hidden;
	margin-left: -18px;
}
#ba{
	visibility: hidden;
}
#start{
	margin-top: 5em;
	width: 60px;
	height: 40px;
	color: #8A6DE9;
}
#pause{
	margin-left:-15px ;
	margin-top: 5em;
	width: 60px;
	height: 40px;
	color: #8A6DE9;
}
#score1{
	
	margin-top: 0.5em;
	width: 100px;
	height: 100px;
	/*margin-right: -0.5em;*/
}
#change1{
	margin-top: 0.5em;
	height: 40px;
	margin-bottom: 0.5em;
		
}
#foul1{
	margin-bottom: -0.5em;
	
}
#backboard1{
	
   margin-top: 2.5em;
}
#assist1{
	margin-top: 2.5em;
	margin-bottom: -0.5em;
}
#score2{
	margin-right: -80px;
	margin-top: 0.5em;
	width: 100px;
	height: 100px;
	
}
#change2{
	margin-top: 0.5em;
	height: 40px;
	margin-left:-15px ;
	margin-bottom: 0.5em;
}
#foul2{
	margin-left:-15px ;
	
	margin-bottom: -0.5em;
	margin-right: 0;
}
#backboard2{
	
	margin-top: 2.5em;
}
#assist2{
	margin-left: 80px;
	margin-top: 2.5em;
	margin-bottom: -0.5em;
}
